@use "../../scss/mixins/adaptiveFontSize" as *;
@use "../../scss/vars.scss";

.navCategories {
	&List {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 1rem;
		padding-top: 0.4rem;
	}

	&Item,
	&ItemActive {
		max-width: 18rem;
		width: 100%;
		padding: 1rem;
		text-align: center;
		line-height: 1;
		@include adaptiveFontSize(20, 14);
		border-radius: 25px 25px 0px 0px;
		border-radius: 25px 25px 0px 0px;

		transition: all 0.2s ease;
	}
	&ItemActive,
	&Item:hover {
		background: vars.$accent-color;
		box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.35) inset;
		color: #ffe5b4;
		text-shadow:
			0 0 1px vars.$main-bg-color,
			0 0 1px vars.$main-bg-color;
	}

	&Mobile {
		&List {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			& li {
				display: flex;
				justify-content: space-between;
				width: 100%;
				position: relative;
			}
		}
		&Item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 5rem;
			width: 100%;
			font-family: "Assistant";
			color: vars.$main-text-color;
			font-size: 1.3rem;
			@include adaptiveFontSize(19, 13);
			letter-spacing: 2.6px;
			padding: 0px 2rem 0px 6rem;
			&:hover {
				background-color: #ead8df;
			}
		}
	}
}
