@use "../../scss/mixins/adaptiveFontSize" as *;
@use "../../scss/mixins/adaptiveValue" as *;
@use "../../scss/vars.scss";

.searchComponent {
	max-width: 80rem;
	width: 100%;
	padding: 0.5rem 2rem;
	align-items: center;

	border-radius: 25px;
	background: vars.$accent-color;

	font-family: "Assistant", sans-serif;
	font-size: 2rem;
	font-size: 2rem;

	&Inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 1;

		& button {
			max-width: 4rem;
			max-height: 4rem;
			margin-left: 1rem;
		}
	}
	&Text {
		width: 100%;
		font-size: 2rem;
		background: none;
		border: none;
		outline: none;
		color: vars.$main-text-color;

		&::placeholder {
			color: #d1d1d1;
			font-size: 2rem;
		}
	}
	&Icon {
		transition: transform 0.1s ease;
		&:hover {
			transform: scale(1.05);
		}
	}
}

@media screen and (max-width: 1440px) {
	.searchComponent {
		@include adaptiveFontSize(20, 13);
	}
	.searchComponentText::placeholder {
		@include adaptiveFontSize(20, 13);
	}
}

@media screen and (max-width: 768px) {
	.searchComponent {
		margin-top: 2rem;
	}
}
