.sideBarFilters {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	font-family: "Assistant", sans-serif;
	margin-bottom: 10px;
}
.sideBarFilterContainer {
	width: 140px;
	background-color: #d3bcc5;
	padding: 5px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.sideBarFilterSecondContainer {
	width: 186px;
	background-color: #d3bcc5;
	padding: 5px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.sideBarFiltersImg {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.sideBarFiltersImg:hover {
	cursor: pointer;
}
.sideBarFiltersText {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	font-family: "Assistant", sans-serif;
}
.sideBarFiltersImg {
	width: 20px;
}
.sideBarFilterAge {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	font-family: "Assistant", sans-serif;
	margin-top: 20px;
}
.sideBarCheckbox {
	margin-right: 10px;
    width: 25px;
    height: 25px;
}
.sideBarCheckbox:hover{
    cursor: pointer;
}
button.checked {
	background-color: green;
	color: white;
}
.sideBarFilterAges {
	display: flex;
	align-items: center;
}
.sideBarAgeText {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	font-family: "Assistant", sans-serif;
	margin-top: 8px;
}
.sideBarPriceText {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	font-family: "Assistant", sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
}
.sideBarPrice {
	display: flex;
}
.sideBarPriceMin {
	color: #999999;
	font-size: 20px;
	width: 75px;
	height: 32px;
	border-radius: 5px;
}
.sideBarPriceMax {
	color: #999999;
	font-size: 20px;
	width: 75px;
	height: 32px;
	margin-left: 10px;
	border-radius: 5px;
}
.sideBarPriceBut {
	width: 80px;
	background-color: #d3bcc5;
	padding: 3px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	height: 32px;
	margin-left: 8px;
}
.sideBarPriceButText {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	font-family: "Assistant", sans-serif;
}
.sideBarPriceButImg {
	width: 25px;
	margin-left: 15px;
}
.sideBarPriceButImg:hover {
	cursor: pointer;
}
