.header {
	padding: 3.5rem 0 0;
	background-color: var(--main-bg-color);
	font-size: 2rem;
	color: var(--main-text-color);
	font-family: "Assistant", sans-serif;
}
.headerInner {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}
.headerTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4.5rem;

	padding: 0 5rem;
}
.headerLogo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-shrink: 0;

	user-select: none;
}
.headerLogoImg {
	max-width: 5rem;
	max-height: 5rem;
	object-fit: contain;
}
.headerLogoText {
	font-family: "Atma", sans-serif;
	/* font-size: 3.2rem; */
	line-height: 1;
	white-space: nowrap;
	font-size: calc(16px + 16 * ((100vw - 320px) / (1440 - 320)));
}
.headerLogoText span {
	color: var(--accent-color);
	font-family: inherit;
	font-size: inherit;
}
.headerItems {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4.5rem;
	width: 100%;
}

.headerShoppingCartBtn {
	width: 3.5rem;
	height: 3.5rem;
}
