@import "../../scss/vars.scss";

.burgerMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin-left: -5rem;
  transform: translateX(-180%);
  transition: transform 0.4s linear;

  &Active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin-left: -5rem;
    transform: translateX(0);
    transition: transform 0.4s ease;
    z-index: 1000;

    & .burgerMenuBackdrop {
      opacity: 1;
      transition: all 0.4s ease;
    }
  }
  &Backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 80%;
    background-color: rgba(32, 32, 32, 0.9);
    backdrop-filter: blur(2px);
    z-index: 50;
    opacity: 0;
    transition: all 0.2s ease;
    overflow-y: hidden;
  }
  &Inner {
    width: 80%;
    height: 100%;
    background-color: #fff;
    transition: all 0.4 ease;
  }
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-bg-color;
    height: 8rem;
    padding: 4rem 2rem 1rem;

    box-shadow: 0px 4px 4px 0px rgba(32, 32, 32, 0.25);

    &Logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-shrink: 0;

      user-select: none;

      &Img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        flex-shrink: 0;
      }
      &Text {
        font-family: "Atma", sans-serif;
        line-height: 1;
        white-space: nowrap;
        font-size: 1.6rem;

        & span {
          color: $accent-color;
          font-family: inherit;
          font-size: inherit;
        }
      }
    }
    &Close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 0;
      position: relative;

      &:before,
      &:after {
        content: " ";
        position: absolute;

        height: 1px;
        width: 2.4rem;
        background-color: #333;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
